include *.rst
include LICENCE.txt
include .gitignore
include .travis.yml
recursive-include siux *
recursive-include example *
recursive-include tests *
recursive-include utils *
recursive-exclude * *.py[co]
